<div class="container">
    <div class="row my-4">
        <div class="col-md-6">
            <h3>Covid 19 Maroc : {{getTotal(searchDates)}} cas</h3>
            <h4>La date: {{searchDates | date: 'yyyy-MM-dd'}}</h4>
        </div>
        <div class="col-md-6 text-right">
            <button (click)="showForme()" class="btn btn-primary">
                <i class="fa fa-plus"></i> Ajouter une mise à jour
            </button>
        </div>

    </div>
    <div *ngIf="created" class="container row my-12">
        <div class="alert alert-dismissible " [ngClass]="alert" style="width: 100%;">
            <button (click)="created=!created" type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Region {{msgAlert}}!</h4>
            <p class="mb-0">Les statistiques de la nouvelle région ont été bien {{msgAlert}} !! <a routerLink="/" class="alert-link">Retour au Dashboard</a>.</p>
        </div>
    </div>

</div>



<div *ngIf="showForm" class="row">
    <div class="col-md-6 mx-auto">

        <div class="form-group">
            <select [(ngModel)]="myTask.RegionFr" class="custom-select" required>
                <option value="" selected disabled hidden>Choose here</option>
                <option *ngFor="let r of regions" [value]="r" >
                    <span>{{ r }}</span>
                </option>
            </select>
        </div>

        <div class="form-group">
            <div class="form-check my-2 d-flex justify-content-between">

                <label class="form-check-label"> Cas confirmés
                <input [(ngModel)]="myTask.Cases" placeholder="Cas confirmés"  type="text" class="form-control" >
               
              </label>
                <label class="form-check-label">Guéris
                <input [(ngModel)]="myTask.Recoveries" placeholder="Guéris"  type="text" class="form-control" >
                
              </label>
                <label class="form-check-label">Décés
                <input [(ngModel)]="myTask.Deaths" placeholder="Décés" type="text" class="form-control"> 
                </label>
            </div>
            <div class="form-check my-2 justify-content d-flex flex-column">

                <label class="form-check-label">
                    Date
                <input (keyup)="searchDate()" [(ngModel)]="searchDates" [(ngModel)]="myTask.date" placeholder="Date" type="date" class="form-control" required> 
                </label>
            </div>
        </div>

        <button *ngIf="editForm" (click)="updateForm()" class="btn btn-warning btn-block">
            <i class="fa fa-refresh"></i> Update
        </button>

        <button *ngIf="!editForm" (click)="persistTask()" class="btn btn-primary btn-block">
            <i class="fa fa-send"></i> New Region
        </button>

    </div>
</div>

<div class="row ">

    <div class="col-md-6 mx-auto my-4">
        <input (keyup)="searchDate()" [(ngModel)]="searchDates" placeholder="La date ??" type="date" class="form-control">

        <input (keyup)="searchTasks()" [(ngModel)]="searchText" placeholder="Search..." type="text" class="form-control">
        <ul class="list-group">

            <div *ngFor="let task of affiche()">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="task.date == searchDate() ">
                    <button (click)="edit(task)" class="btn btn-warning btn-sm">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <a [routerLink]="[task.id]" class="btn btn">{{task.RegionFr}}</a>
                    <span class="badge badge-pill badge-warning">{{task.Cases}} </span>
                    <span class="badge badge-pill badge-danger">{{task.Deaths}} </span>
                    <span class="badge badge-pill badge-success">{{task.Recoveries}} </span>

                    <button (click)="deleteTask(task.id, task.RegionFr)" class="btn btn-sm btn-dark">
                        <i class="fa fa-trash"></i>
                    </button>
                </li>

            </div>

        </ul>
    </div>
</div>